name: Renovate
on:
  schedule:
    # Every 3 hours
    - cron: '0 */3 * * *'
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 55
    steps:
      - name: Get token
        id: get_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        with:
          private_key: ${{ secrets.PRIVATE_KEY }}
          app_id: ${{ secrets.APP_ID }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@957af03d760b2c87fc65cb95628f6d5f95d9c578 # v46.0.0
        with:
          configurationFile: .github/renovate-global.json
          token: '${{ steps.get_token.outputs.token }}'
          renovate-image: ghcr.io/cgrindel/renovate-bot
          renovate-version: latest
        env:
          LOG_LEVEL: debug
